<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>logout</title>
    <script type="module" src="http://localhost:5183/@vite/client"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="http://localhost:5183/styles/index.css">
</head>
<body>
    <main>
        <article class="grid place-items-center">
            <h1 class="text-2xl">You have successfully logged out</h1>
            <nav hx-boost="true">
                <a href="/"><p class="text-xl">home</p></a>
            </nav>
        </article>
    </main>
</body>
</html>
