---
import SiteLayout from "../../../layouts/siteLayout.astro";
import Md from "../../../components/md.astro";
import Db from "../../../components/projects/db.md";
---

<SiteLayout>
    <main class="grid w-full place-items-center">
        <Md>
            <Db />
        </Md>
    </main>
</SiteLayout>
