---
import ProjectsLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/db/overview.md";
import Features from "../../../components/projects/db/features.md";
---


<ProjectsLayout>
    <h2>LexiDB</h2>
    <Overview />
    <Features />
</ProjectsLayout>

