---
import SiteLayout from "../../layouts/siteLayout.astro";
import ProjectLinks from "../../components/projectLinks.astro";
---

<SiteLayout>
    <main class="grid w-full">
        <article class="grid gap-2 text-text place-items-center">
            <h2 class="text-2xl">Projects</h2>
            <section>
                <ProjectLinks />
            </section>
        </article>
    </main>
</SiteLayout>
