---
import ProjectLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/news/overview.md";
import Features from "../../../components/projects/news/features.md";
---

<ProjectLayout>
    <h3>News App</h3>
    <Overview />
    <Features />
</ProjectLayout>
