---
import ProjectLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/news/overview.md";
import Features from "../../../components/projects/news/features.astro";
---

<ProjectLayout>
    <section class="grid place-items-center">
        <h2>News App</h2>
    </section>
    <section class="max-w-[80ch] text-lg">
        <Overview />
    </section>
    <section class="max-w-[80ch] text-lg">
        <Features />
    </section>
</ProjectLayout>
