---
import SiteLayout from "../../../layouts/siteLayout.astro";
---

<SiteLayout>
    <main class="grid w-full">
        <article class="w-full flex justify-center text-text text-2xl">
            <h2>portfolio</h2>
        </article>
    </main>
</SiteLayout>
