<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/index.css">
    <title>chess</title>
</head>
<body>
    <div class="flex flex-col h-screen items-center justify-center">
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
        </div>
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
        </div>
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
        </div>
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
        </div>
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
        </div>
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
        </div>
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
        </div>
        <div class="flex">
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
            <div class="w-[110px] h-[110px] bg-yellow-700"></div>
            <div class="w-[110px] h-[110px] bg-orange-200"></div>
        </div>
    </div>
</body>
</html>
