---
import Main from "../../layouts/main.astro";
import Header from "../../components/resume/header.md";
import Education from "../../components/resume/education.md";
import Skills from "../../components/resume/skills.md";
import Experience from "../../components/resume/experience.md";
---

<Main>
    <Header />
    <Education />
    <Skills />
    <Experience />
</Main>
