---
import Main from "../../layouts/main.astro";
import Header from "../../components/resume/header.md";
import Education from "../../components/resume/education.md";
import Skills from "../../components/resume/skills.md";
import Experience from "../../components/resume/experience.md";
---

<style>
    h1 {
        font-size: 1.875rem;
    }
</style>

<Main>
    <Header />
    <Education />
    <Skills />
    <Experience />
</Main>
