---
import ProjectsLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/interpreter/overview.md";
import Features from "../../../components/projects/interpreter/features.md";
---


<ProjectsLayout>
    <h2>Interpreter</h2>
    <Overview />
    <Features />
</ProjectsLayout>

