---
import SiteLayout from "../../../layouts/siteLayout.astro";
import Md from "../../../components/md.astro";
import Interpreter from "../../../components/interpreter.md";
---

<SiteLayout>
    <main class="grid w-full place-items-center">
        <Md>
            <Interpreter />
        </Md>
    </main>
</SiteLayout>
