
<section class="w-par grid place-items-center">
    <h2 class="text-xl">Build Tools</h2>
    <section class="grid place-items-center">
        <h3 class="font-bold">C</h3>
        <ul class="grid place-items-center">
            <li>
                <p>gcc</p>
            </li>
            <li>
                <p>make</p>
            </li>
            <li>
                <p>CMake</p>
            </li>
            <li>
                <p>Autotools</p>
            </li>
        </ul>
    </section>
    <section class="grid place-items-center">
        <h3 class="font-bold">C++</h3>
        <ul class="grid place-items-center">
            <li>
                <p>Bazel</p>
            </li>
        </ul>
    </section>
    <section class="grid place-items-center">
        <h3 class="font-bold">rust</h3>
        <ul class="grid place-items-center">
            <li>
                <p>cargo</p>
            </li>
        </ul>
    </section>
    <section class="grid place-items-center">
        <h3 class="font-bold">java</h3>
        <ul class="grid place-items-center">
            <li>
                <p>Bazel</p>
            </li>
            <li>
                <p>Gradle</p>
            </li>
        </ul>
    </section>
    <section class="grid place-items-center">
        <h3 class="font-bold">Web</h3>
        <ul class="grid place-items-center">
            <li>
                <p>Turbo</p>
            </li>
            <li>
                <p>Nx</p>
            </li>
            <li>
                <p>Vite</p>
            </li>
            <li>
                <p>tsc</p>
            </li>
            <li>
                <p>Rollup</p>
            </li>
            <li>
                <p>esbuild</p>
            </li>
        </ul>
    </section>
</section>

