---
---

<section class="w-par grid place-items-center">
    <h2 class="text-xl">Frameworks & Libraries</h2>
    <section class="grid place-items-center">
        <h3 class="font-bold">C</h3>
        <ul class="grid place-items-center">
            <li>
                <p>Raylib</p>
            </li>
            <li>
                <p>ncurses</p>
            </li>
        </ul>
    </section>
    <section class="grid place-items-center">
        <h3 class="font-bold">C++</h3>
        <ul class="grid place-items-center">
            <li>
                <p>boost</p>
            </li>
            <li>
                <p>Raylib</p>
            </li>
            <li>
                <p>Drogon</p>
            </li>
            <li>
                <p>Qt</p>
            </li>
        </ul>
    </section>
    <section class="grid place-items-center">
        <h3 class="font-bold">Rust</h3>
        <ul class="grid place-items-center">
            <li>
                <p>axum</p>
            </li>
            <li>
                <p>actix</p>
            </li>
            <li>
                <p>leptos</p>
            </li>
        </ul>
    </section>
    <section class="grid place-items-center">
        <h3 class="font-bold">Web</h3>
        <ul class="grid place-items-center">
            <li>
                <p>Solidjs</p>
            </li>
            <li>
                <p>Astro</p>
            </li>
            <li>
                <p>Svelte</p>
            </li>
            <li>
                <p>Angular</p>
            </li>
            <li>
                <p>Preact</p>
            </li>
            <li>
                <p>Reactjs</p>
            </li>
            <li>
                <p>Expressjs</p>
            </li>
        </ul>
    </section>
</section>
