---
---

<header class="flex justify-between px-6 py-4">
    <h1 class="text-4xl text-text">Vince</h1>
    <nav class="flex items-center">
        <ul class="flex items-center justify-center gap-7">
            <li>
                <a class="text-tertiary text-2xl" href="/">home</a>
            </li>
            <li>
                <a class="text-tertiary text-2xl" href="/about">about</a>
            </li>
            <li>
                <a class="text-tertiary text-2xl" href="/projects">projects</a>
            </li>
        </ul>
    </nav>
</header>
