---
---

<section class="text-text grid place-items-center gap-3">
    <h2 class="text-2xl">hi, I'm Vince</h2>
    <nav>
        <ul class="grid place-items-center gap-5">
            <li><a class="text-xl bg-secondary rounded-md p-2" href="/about">about me</a></li>
            <li><a class="text-xl bg-secondary rounded-md p-2" href="/projects">projects</a></li>
        </ul>
    </nav>
</section>
