---
---

<section class="w-par grid place-items-center">
    <h2 class="text-xl">Languages</h2>
    <ul class="grid place-items-center">
        <li>
            <p>C</p>
        </li>
        <li>
            <p>C++</p>
        </li>
        <li>
            <p>Rust</p>
        </li>
        <li>
            <p>Java</p>
        </li>
        <li>
            <p>Python</p>
        </li>
        <li>
            <p>Typescript/Javascript</p>
        </li>
        <li>
            <p>Go</p>
        </li>
        <li>
            <p>Html/CSS/scss</p>
        </li>
        <li>
            <p>CMake</p>
        </li>
        <li>
            <p>Bash</p>
        </li>
        <li>
            <p>Haskell</p>
        </li>
    </ul>
</section>
