
<nav class="flex items-center flex-col">
    <ul class="flex items-center justify-center flex-col">
        <li>
            <a class="text-tertiary text-xl" href="/projects/db">db</a>
        </li>
        <li>
            <a class="text-tertiary text-xl" href="/projects/router">router</a>
        </li>
        <li>
            <a class="text-tertiary text-xl" href="/projects/interpreter">interpreter</a>
        </li>
        <li>
            <a class="text-tertiary text-xl" href="/projects/portfolio">portfolio</a>
        </li>
    </ul>
</nav>
