---
import SiteLayout from "../../../layouts/siteLayout.astro";
import Md from "../../../components/md.astro";
import Router from "../../../components/router.md";
---

<SiteLayout>
    <main class="grid w-full place-items-center">
        <Md>
            <Router />
        </Md>
    </main>
</SiteLayout>

