---
import ProjectLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/router/overview.md";
import Features from "../../../components/projects/router/features.md";
---

<ProjectLayout>
    <h3>Router</h3>
    <Overview />
    <Features />
</ProjectLayout>
