---
import ProjectLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/stock/overview.md";
import Features from "../../../components/projects/stock/features.md";
---

<ProjectLayout>
    <h3>Stock App</h3>
    <Overview />
    <Features />
</ProjectLayout>
