---
import SiteLayout from "../../../layouts/siteLayout.astro";
import Md from "../../../components/md.astro";
import Stock from "../../../components/projects/stock.md";
---

<SiteLayout>
    <main class="grid w-full place-items-center">
        <Md>
            <Stock />
        </Md>
    </main>
</SiteLayout>
