<h3>Features</h3>

<ul class="list-disc pl-5">
    <li>
        <h4>Email Authentication</h4>
        <ul class="list-disc pl-5">
            <li>
                <p>User information is stored in an SQL database</p>
            </li>
            <li>
                <p>A cookie is stored on the server to determine if the user is authenticated</p>
            </li>
        </ul>
    </li>
    <li>
        <h4>Fuzzy searching algorithm for symbols and company names</h4>
    </li>
    <li>
        <h4>Search companies based on their ticker or company name</h4>
        <ul class="list-disc pl-5">
            <li>
                <p>Confirm that the search contains a valid company name or ticker by checking against a Hashset of tickers
                and company names</p>
            </li>
            <li>
                <p>Communicate with Alphavantage API to retrieve relevant information about the company</p>
            </li>
        </ul>
    </li>
    <li>
        <h4>Display company overview, income statement, balance sheet, and cash flow information</h4>
        <ul class="list-disc pl-5">
            <li>
                <p>The company overview is simple, plain text that includes information such as the sector, industry,
                earings per share, book-value, market capitalization, and other relevelent information</p>
            </li>
            <li>
                <p>Income statement, balance sheet, and cash flow data is displayed using charts</p>
            </li>
            <li>
                <p>Code to create the charts is generated using go templating</p>
            </li>
        </ul>
    </li>
</ul>

