---
import HomeCode from "./home-code.md";
---

<main>
    <article class="grid place-items-center">
        <h2 class="text-2xl">Lexidb</h2>
        <section class="flex flex-col gap-4">
            <p class="flex items-center justify-center text-xl">a simple key-value database</p>
            <HomeCode />
        </section>
    </article>
</main>
