---
---

<header class="flex items-center h-20 bg-white border-b border-black">
    <h1 class="grid place-items-center text-2xl w-2/6">
        <a href="/">LexiDB</a>
    </h1>
    <nav class="h-full grow grid place-items-center">
        <ul class="flex items-center gap-5">
            <li><a class="text-xl" href="/docs/">Documentation</a></li>
            <li><a class="text-xl" href="/about/">About</a></li>
            <li><a class="text-xl" href="/">Github</a></li>
        </ul>
    </nav>
</header>
