---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>404 Page Not Found</title>
        <script src="../layouts/index.ts"></script>
    </head>
    <body class="bg-primary">
        <main class="grid place-items-center">
            <article class="grid place-items-center">
                <section class="text-text grid place-items-center">
                    <h1 class="text-2xl">You Found it</h1>
                    <nav>
                        <a class="text-xl text-secondary" href="/">home</a>
                    </nav>
                </section>
            </article>
        </main>
    </body>
</html>
