---
import SiteLayout from "../layouts/siteLayout.astro";
import Hero from "../components/hero.astro";
import Langs from "../components/langs.astro";
---

<SiteLayout>
    <main class="grid w-full">
        <article class="w-full flex justify-center">
            <Hero />
        </article>
    </main>
</SiteLayout>
