---
---

<navbar>
    <section>
        <a href="/">
            <h1>Vince</h1>
        </a>
    </section>
    <section>
        <ul>
            <li>
                <a href="/resume">resume</a>
            </li>
        </ul>
    </section>
</navbar>
