---
---

<section class="grow">
    <ul class="flex items-center justify-center">
        <li class="px-5">
            <a href="/about" class="text-2xl underline">about me</a>
        </li>
        <li class="px-5">
            <a href="/resume" class="text-2xl underline">resume</a>
        </li>
        <li class="px-5">
            <a href="/projects" class="text-2xl underline">projects</a>
        </li>
    </ul>
</section>
