<section class="hidden sm:block">
    <ul class="md:flex md:items-center md:justify-center grid grid-cols-4">
        <li class="px-5">
            <a href="/projects/db" class="text-xl underline">LexiDB</a>
        </li>
        <li class="px-5">
            <a href="/projects/interpreter" class="text-xl underline">interpreter</a>
        </li>
        <li class="px-5">
            <a href="/projects/vstr" class="text-xl underline">vstr</a>
        </li>
        <li class="px-5">
            <a href="/projects/diety" class="text-xl underline">diety</a>
        </li>
        <li class="px-5">
            <a href="/projects/cpu-monitor" class="text-xl underline">CPU monitor</a>
        </li>
        <li class="px-5">
            <a href="/projects/news-app" class="text-xl underline">News App</a>
        </li>
        <li class="px-5">
            <a href="/projects/stock-app" class="text-xl underline">Stock App</a>
        </li>
        <li class="px-5">
            <a href="/projects/router" class="text-xl underline">Router</a>
        </li>
    </ul>
</section>
