<section>
    <ul>
        <li>
            <a href="/projects/db">db</a>
        </li>
        <li>
            <a href="/projects/interpreter">interpreter</a>
        </li>
        <li>
            <a href="/projects/diety">diety</a>
        </li>
    </ul>
</section>
