<section>
    <ul>
        <li>
            <a href="/projects/db">LexiDB</a>
        </li>
        <li>
            <a href="/projects/interpreter">interpreter</a>
        </li>
        <li>
            <a href="/projects/vstr">vstr</a>
        </li>
        <li>
            <a href="/projects/diety">diety</a>
        </li>
        <li>
            <a href="/projects/cpu-monitor">CPU monitor</a>
        </li>
        <li>
            <a href="/projects/news-app">News App</a>
        </li>
        <li>
            <a href="/projects/stock-app">Stock App</a>
        </li>
        <li>
            <a href="/projects/router">Router</a>
        </li>
    </ul>
</section>
