<h3>Features</h3>

<ul class="list-disc pl-5">
    <li>
        <h4>Creates C binary and library projects</h4>
        <ul class="list-disc pl-5">
            <li>
                <p>Configure cmake to build the project in debug mode and release mode</p>
            </li>
            <li>
                <p>Set up test suites for the project</p>
            </li>
        </ul>
    </li>
    <li>
        <h4>Configure web based projects and libraries</h4>
        <ul class="list-disc pl-5">
            <li>
                <p>Runs several commands to scaffold web application projects</p>
            </li>
            <li>
                <p>Ability to select Rust, Go, Ocaml, or Java for the backend</p>
            </li>
            <li>
                <p>Ability to select htmx, Astro, Solidjs, or Svelte for the frontend</p>
            </li>
        </ul>
    </li>
</ul>
