---
import Contact from "../contact/index.astro";
import NavLinks from "../links/navlinks.astro";
---


<footer>
    <section>
        <h2>site links</h2>
        <NavLinks />
    </section>
    <section>
        <h2>Contact</h2>
        <Contact />
    </section>
</footer>
