---
import Contact from "../contact/index.astro";
import FooterLinks from "../links/footerLinks.astro";
---


<footer class="w-full bg-neutral-200 grid grid-cols-2 place-items-center">
    <section class="grid place-items-center">
        <h2 class="text-2xl">Site Links</h2>
        <FooterLinks />
    </section>
    <section class="grid place-items-center">
        <h2 class="text-2xl">Contact</h2>
        <Contact />
    </section>
</footer>
