---
import Header from "../components/header/index.astro";
import Footer from "../components/footer/index.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vince</title>
        <script src="./main.ts"></script>
	</head>
	<body>
        <Header />
        <slot />
        <Footer />
	</body>
</html>
