---
import Main from "./main.astro";
import ProjectLinks from "../components/links/projectlinks.astro";
---

<style is:global>
h2 {
    font-size: 1.5rem !important;
    line-height: 2rem;
}
h3 {
    font-size: 1.25rem !important;
    line-height: 1.75rem;
    font-weight: bold !important;
}
pre {
    padding: 1.5rem;
    border-radius: .375rem;
    margin: 1rem 0 !important;
    white-space: pre-wrap;
    white-space: moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
:not(li) > p {
    text-indent: 20px !important;
}
p > a {
    color: blue;
    text-decoration: underline;
}
</style>

<Main>
    <nav class="grid place-items-center bg-neutral-100 py-5">
        <a href="/projects">
            <h2 class="text-2xl underline">Projects</h2>
        </a>
        <ProjectLinks />
    </nav>
    <article class="flex flex-col items-center py-5 px-5 md:px-0">
        <div>
            <slot />
        </div>
    </article>
</Main>
