---
import Main from "./main.astro";
import ProjectLinks from "../components/links/projectlinks.astro";
---

<Main>
    <nav class="grid place-items-center">
        <a href="/projects">
            <h2 class="text-2xl underline">Projects</h2>
        </a>
        <ProjectLinks />
    </nav>
    <slot/>
</Main>
