<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stock App</title>
        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <link rel="stylesheet" href="/css/style.css">
        <style>
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
        </style>
    </head>
    <body id="stock">
        <header class="flex items-center py-5">
            <section>
                <h1 class="text-2xl">Stock App</h1>
            </section>
        </header>
        <main>
            <article>
                <section>
                    <form
                        hx-get="/api/load"
                        hx-target="#load"
                        class="grid place-items-center gap-3"
                        >
                        <section>
                            <label for="search" class="text-xl px-3">enter symbol: </label>
                            <input
                                type="text" name="search" id="search"
                                class="bg-neutral-100 border-2 border-black rounded-md text-xl"
                                >
                        </section>
                        <section>
                            <button class="bg-neutral-200 border-2 border-black rounded-md px-5 text-xl">search</button>
                        </section>
                    </form>
                </section>
                <section class="grid place-items-center"id="load"></section>
                    <section>
                        <h2>Symbol: {{ index . "symbol" }}</h2>
                        <h3>Name: {{ index . "name" }}</h3>
                        <h4>Sector: {{ index . "sector" }}</h4>
                        <h4>Industry: {{ index . "industry" }}</h4>
                        <h4>Address: {{ index . "address" }}</h4>
                    </section>
                    <section>
                        <p>Market cap: {{ index . "mc" }}</p>
                        <p>EBITDA: {{ index . "ebitda" }}</p>
                        <p>PE ratio: {{ index . "pe" }}</p>
                        <p>Book value: {{ index . "book" }}</p>
                        <p>EV to EBITDA: {{ index . "ete" }}</p>
                    </section>
                    <section>
                        <p>Div/Share: {{ index . "dps" }}</p>
                        <p>Div yield: {{ index . "dy" }}</p>
                    </section>
                    <section>
                        <section>
                            <h3>Income Statement</h3>
                        </section>
                        <section>
                            <section>
                                <h4>Revenue</h4>
                            </section>
                            <section>
                                {{ range .Income }}
                                <div>
                                    <p>{{ .FiscalDateEnding }}</p>
                                    <p>{{ .TotalRevenue }}</p>
                                </div>
                                {{ end }}
                            </section>
                        </section>
                        <section>
                            <section>
                                <h4>Operating Income</h4>
                            </section>
                            <section>
                                {{ range .Income }}
                                <div>
                                    <p>{{ .FiscalDateEnding }}</p>
                                    <p>{{ .OperatingIncome }}</p>
                                </div>
                                {{ end }}
                            </section>
                        </section>
                        <section>
                            <section>
                                <h4>Net Income</h4>
                            </section>
                            <section>
                                {{ range .Income }}
                                <div>
                                    <p>{{ .FiscalDateEnding }}</p>
                                    <p>{{ .NetIncome }}</p>
                                </div>
                                {{ end }}
                            </section>
                        </section>
                    </section>
                    <section>
                        <section>
                            <h3>Balance Sheet</h3>
                        </section>
                        <section>
                            <section>
                                <h4>Assets</h4>
                            </section>
                            <section>
                                {{ range .Balance }}
                                    <div>
                                        <p>{{ .FiscalDateEnding }}</p>
                                        <p>{{ .TotalAssets }}</p>
                                    </div>
                                {{ end }}
                            </section>
                        </section>
                        <section>
                            <section>
                                <h4>Cash</h4>
                            </section>
                            <section>
                                {{ range .Balance }}
                                    <div>
                                        <p>{{ .FiscalDateEnding }}</p>
                                        <p>{{ .CashAndCashEquivalentsAtCarryingValue }}</p>
                                    </div>
                                {{ end }}
                            </section>
                        </section>
                        <section>
                            <section>
                                <h4>Total Liabilities</h4>
                            </section>
                            <section>
                                {{ range .Balance }}
                                    <div>
                                        <p>{{ .FiscalDateEnding }}</p>
                                        <p>{{ .TotalLiabilities }}</p>
                                    </div>
                                {{ end }}
                            </section>
                        </section>
                        <section>
                            <section>
                                <h4>Shares Outstanding</h4>
                            </section>
                            <section>
                                {{ range .Balance }}
                                    <div>
                                        <p>{{ .FiscalDateEnding }}</p>
                                        <p>{{ .CommonStockSharesOutstanding }}</p>
                                    </div>
                                {{ end }}
                            </section>
                        </section>
                    </section>
                </section>
            </article>
        </main>
    </body>
</html>
