---
import NavLinks from "../links/navlinks.astro";
---

<navbar class="flex p-5">
    <section>
        <a href="/">
            <h1 class="text-3xl">Vince</h1>
        </a>
    </section>
    <NavLinks />
</navbar>
