---
---

<section>
    <div>
        <a href="mailto: ronnebaumvince@gmail.com" class="text-xl underline">email</a>
    </div>
    <div>
        <a href="tel:+1614-747-2182" class="text-xl underline">phone</p>
    </div>
</section>
