---
import Site from "../../layouts/site.astro";
---

<Site>
    <main class="grid place-items-center">
        <article>
            <h2 class="text-xl">Documentation</h2>
        </article>
    </main>
</Site>
