---
import ProjectsLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/cpu/overview.md";
import Features from "../../../components/projects/cpu/features.md";
---


<ProjectsLayout>
    <section>
        <h2>CPU Monitor</h2>
    </section>
    <section class="max-w-[80ch] text-l">
        <Overview />
    </section>
    <section class="max-w-[80ch] text-l">
        <Features />
    </section>
</ProjectsLayout>

