---
import ProjectsLayout from "../../../layouts/projects.astro";
import Overview from "../../../components/projects/cpu/overview.md";
import Features from "../../../components/projects/cpu/features.md";
---


<ProjectsLayout>
    <h2>CPU monitor</h2>
    <Overview />
    <Features />
</ProjectsLayout>

